// colors
$grey1: rgb(53, 61, 61);
$grey2: lightgrey;
$grey3: lightgrey;
$grey4: rgb(67, 67, 67);
$black-subtle: rgb(56, 61, 62);
// $red: rgb(255, 0, 0);
// $orange: rgb(255, 165, 0);
// $yellow: rgb(255, 255, 0);
// $green: rgb(0, 128, 0);
// $blue: rgb(0, 0, 255);
// $purple: rgb(128, 0, 128);
// $brown: rgb(165, 42, 42);
// $gray: rgb(139, 139, 139);
// $try: rgb(240, 248, 244);

// containers
$edge-radius: 0.6rem;
