@use '../../theme';

.search {
  border-radius: theme.$edge-radius;
  padding: 0rem 2rem;
  height: 3rem;
  border: 1px solid black;
  font-size: 1.5rem;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: theme.$grey2;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: theme.$grey2;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: theme.$grey2;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: theme.$grey2;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: theme.$grey2;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: theme.$grey2;
}
